
bom dia, clique no link desejado(serão adicionados mais):
<a class="nav-link" routerLink="/list_vagas"><button type="button" class="btn btn-primary">Listar vagas</button></a>

<br><button type="button" class="btn btn-secondary">btn2</button>
<br><button type="button" class="btn btn-success">btn3</button>
<br><button type="button" class="btn btn-danger">btn4</button>
<br><button type="button" class="btn btn-warning">btn5</button>
<br><button type="button" class="btn btn-info">btn6</button>
<br><button type="button" class="btn btn-light">btn7</button>
<br><button type="button" class="btn btn-dark">btn8</button>
<br>




